# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
**/android/**/generated/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS/macOS
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/ios/Runner/GeneratedPluginRegistrant.swift
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/DerivedData/
*.xcworkspace
*.xcscheme
*.xsctest
*.xcconfig
*.xccheckout
*.xcuserstate

# Web
build/web/

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.history/

# Sensitive files
.env*

# Logs
*.log


/testing