name: Release APK

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build:
    name: Build and Release APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '20'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Build Fat APK
        run: flutter build apk --release

      - name: Rename Fat APK
        run: cp build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/payload-release.apk

      - name: Build ARM64 APK
        run: flutter build apk --release --target-platform android-arm64

      - name: Rename ARM64 APK
        run: cp build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/payload-arm64.apk

      - name: Update Release
        id: create_release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'release' || github.event_name == 'workflow_dispatch'
        with:
          files: |
            build/app/outputs/flutter-apk/payload-release.apk
            build/app/outputs/flutter-apk/payload-arm64.apk
          tag_name: ${{ github.event.release.tag_name || format('v1.1.{0}', github.run_number) }}
          name: ${{ github.event.release.name || format('Release v1.1.{0}', github.run_number) }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
